# =========================

# Python

# =========================

**pycache**/
*.pyc
*.pyo
*.pyd

# Virtual Environment

.venv/
venv/

# VSCode

.vscode/

# Build

build/
dist/

# Cache

cache/

# Generated Images

StillPic/

# Exported Clips

StillClip/

# Release Packages

release/

# Temporary

*.tmp
*.log
